name: on-commit

on:
  workflow_dispatch:
  push:
jobs:
  build:
    name: "Build and test version extraction"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        id: checkout_repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - name: Test extraction
        id: test_extraction
        uses: ./
        with:
          vendir_file: ./test/k3s-vendir.yml
          library: "k3s-io/k3s"
      - name: Check version extraction from github release
        run: |
          echo "Checking if <$EXTRACTED_VERSION> (extracted) == <$EXPECTED_VERSION> (expected)"
          if [[ "$EXTRACTED_VERSION" == "$EXPECTED_VERSION" ]];then
            echo "OK"
          else
            echo "::error file=$INPUT_VENDIR_FILE ::$GITHUB_ACTION: Inconsistency detected <$EXTRACTED_VERSION> (extracted) != <$EXPECTED_VERSION> (expected)"
            exit 1
          fi
        env:
          EXTRACTED_VERSION: "${{ steps.test_extraction.outputs.version }}"
          EXPECTED_VERSION: "v1.26.0+k3s1"
      - name: Test extraction failure
        id: test_extraction_failure
        continue-on-error: true
        uses: ./
        with:
          vendir_file: ./test/k3s-vendir.yml
          library: "dummy/library"
      - name: Check version extraction failure
        run: |
          echo "Checking if <$EXTRACTED_VERSION> (extracted) == <$EXPECTED_VERSION> (expected)"
          if [[ "$EXTRACTED_VERSION" == "$EXPECTED_VERSION" ]];then
            echo "OK"
          else
            echo "::error file=$INPUT_VENDIR_FILE ::$GITHUB_ACTION: Inconsistency detected <$EXTRACTED_VERSION> (extracted) != <$EXPECTED_VERSION> (expected)"
            exit 1
          fi
        env:
          EXTRACTED_VERSION: "${{ steps.test_extraction_failure.outputs.version }}"
          EXPECTED_VERSION: ""

